{% extends 'base.html.twig' %}

{% block title %}Creation Carte Adhesion{% endblock %}

{% block body %}

 <div class="well">
 <ul>
            <div> <img src="{{ asset('assets/img/logofpi.png') }}" class="img-circle"  alt="logo"></div>
				<h4>FRONT  POPULAIRE  IVOIRIEN</h4>        
				<h6>Représentation FPI-FRANCE</h6>        
			</div>

<caption class="well well-sm"><h2> Creation Carte Adhesion</h2></caption>

    <table>

      
    {% if count.ref is defined %}
                <td class="well well-sm">{{ count.ref }}</td>
                        <tr>
                <th class="well">Sex:</th>
                <th class="well">N°Adher:</th>
                <th class="well">Nom </th>
                <th class="well">Prenom </th>
                <th class="well">Naissance </th>
                <th class="well">lieu naiss </th>
                <th class="well">Profession </th>
                <th class="well">N° rue </th>
                <th class="well">Nom rue </th>
                <th class="well">Nom ville </th>
                <th class="well">Nom pays </th>
                <th class="well">code postale </th>
                <th class="well">Photo </th>
            </tr>
          
            <tr> 
                <td class="well well-sm">{{ adhesiongender }}</td>
                <td class="well well-sm">{{ adhesionId }}</td>
                <td class="well well-sm">{{ adhesionfirstname }}</td>
                <td class="well well-sm">{{ adhesionlastname }}</td>
                <td class="well well-sm">{{ adhesionbirthday | default("") | date('d-m-Y')  }}</td>
                <td class="well well-sm">{{ adhesionlieunaissance }}</td>
                <td class="well well-sm">{{ adhesionprofession }}</td>
                <td class="well well-sm">{{ adhesionnorue }}</td>
                <td class="well well-sm">{{ adhesionnomrue }}</td>
                <td class="well well-sm">{{ adhesionville }}</td>
                <td class="well well-sm">{{ adhesionpays }}</td>
                <td class="well well-sm">{{ adhesioncodepostale }}</td>
                 {# <td> <img style="margin:15px" width="120" src='{{ asset('assets/images/' ~ im) }}'></td> #}
            </tr>
    {% endif %}
         
    </table>  
</u>
</div>
<a href="{{ '/' }}"><p><h4><span class="label label-success">Retour</span></h4></p></a>

</div>
{% endblock %} 